@use './scss/index' as *;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  // background-color: aliceblue;
  background-image: linear-gradient(rgba(221, 117, 190, 0.838) 0%, rgba(242, 184, 8, 0.53) 100%);
  font-family: 'Josefin Sans', cursive;
}
.App {
  @include flex(flex-start, center);
  flex-direction: column;
  height: 800px;
  width: 75%;
  margin: auto;
  background-color: #fff;
  // background-color: transparent;
  // border: 5px #000 solid;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  // color: #fff;
}
